[Desktop Entry]
Type=Application
Version=1.0
Name=Solux Store
GenericName=Tienda de aplicaciones
Comment=Instala aplicaciones en Solux OS
Exec=gnome-software %U
Icon=solux-store
Terminal=false
Categories=System;PackageManager;
Keywords=store;apps;software;install;tienda;
StartupNotify=true
StartupWMClass=org.gnome.Software
