[Desktop Entry]
Type=Application
Name=Plank (Solux Dock)
Comment=Dock inferior de Solux OS
Exec=plank
Icon=plank
Terminal=false
X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=2
NoDisplay=true
