[Desktop Entry]
Type=Application
Version=1.0
Name=Solux Browser
GenericName=Navegador web
Comment=Navegador web de Solux OS (basado en Firefox, endurecido)
Exec=firefox-esr %u
Icon=solux-browser
Terminal=false
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
StartupWMClass=firefox-esr
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Nueva ventana
Exec=firefox-esr --new-window

[Desktop Action new-private-window]
Name=Nueva ventana privada
Exec=firefox-esr --private-window
