[Desktop Entry]
Type=Application
Version=1.0
Name=Solux Browser
Name[es]=Navegador Solux
GenericName=Web Browser
GenericName[es]=Navegador web
Comment=Fast, private web browser by Solux OS
Comment[es]=Navegador web rápido y privado de Solux OS
Exec=solux-browser %u
Icon=solux-browser
Terminal=false
Categories=Network;WebBrowser;GTK;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
Keywords=browser;web;internet;navegador;
StartupNotify=true
Actions=private;

[Desktop Action private]
Name=Nueva ventana privada
Exec=solux-browser --private
